.hero{
    background-image: url(./asset/hero.png);
    height: 60vh;
}


.pro {
    text-decoration: underline;
}


img {
    border-radius: 50%;
}


.intro {
    background-image: url(./asset/1.png);
}


h1{
    font-family: "Montserrat",serif;
}


h2 {
    font-family: "Montserrat", serif;
}


h4{
    font-family: "Montserrat", serif;
}


p{
    font-family: 'Inter', sans-serif;
}


a{
    color: inherit;
    text-decoration: none;
}


.skill {
    background-image: url(./asset/2.png);
}


.feature-icon-small {
    width: 3rem;
    height: 3rem;
}


ul{
    font-family: 'Inter', sans-serif;
}


.contact-me {
    background-image: url(./asset/1.png);
}